venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
instance/
.webassets-cache
.scrapy
docs/_build/
target/
dist/
*.egg
*.egg-info/
.installed.cfg
MANIFEST
.env
.venv
staticfiles/
media/
db.sqlite3
*.sqlite3
.DS_Store
.vscode/
*.swp
*.swo
